<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pebbleinc.moodmeter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".authenticateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".dq1Activity" />
        <activity android:name=".dq2Activity" />
        <activity android:name=".dq3Activity" />
        <activity android:name=".dq4Activity" />
        <activity android:name=".dq5Activity" />
        <activity android:name=".dq6Activity" />
        <activity android:name=".helplinesActivity" />
        <activity android:name=".diaryActivity" />
        <activity android:name=".trackActivity" />
        <activity android:name=".optionsActivity" />
        <activity android:name=".newDiaryEntryActivity" />
        <activity android:name=".submittedActivity" />
        <activity android:name=".mainMenuActivity"/>
    </application>

</manifest>